<table class="show">
  <tr>
    <th><%= @item.locale(:domain) %></th>
    <td><%= @item.domain %></td>
  </tr><tr>
    <th><%= @item.locale(:quota) %></th>
    <td><%= @item.quota %></td>
  </tr>
</table>
